@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600');

input{
    display:block;
    padding: 1%;
    background-color: #FFF;
    /*margin: 5%;*/
    font-size: 14px;
    font-family: inherit;
}
input:focus{
    background-color: #F3F3F3;
}
textarea:focus{
    background-color: #F3F3F3;
}
fieldset{
    /*padding-left: 5em;*/
    border: none;
    margin: 2%;


}

legend h2 {
    color: #002c5a;
}


fieldset i {
    margin: 0.8%;
}

legend {
    text-align: center;
}
body {
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
label {
    height: 200%;
    text-align: center;
    font-size: 16px;
}

input {
    color: #342e41;
}

.message input {
    height: 3em;
}

input[type=text] {
padding:5px;
border:2px solid #ccc;
-webkit-border-radius: 5px;
border-radius: 5px;
color: #000;
}

input[type=text]:focus {
    border-color:#333;
}




input[type=submit] {
    padding:12px 20px;
    margin-top: 20px;
    background:#002c5a;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    font-family: inherit;
    font-size: 18px;
    /*display: inline-block;*/
    text-align: center;
    font-weight: 500;
}

input[type=submit]:hover {
    background: #011C39;
}

input {
    /*margin-bottom: 10px;*/
    /*margin-right: 10px;*/
    margin: 0 auto;
}


input, textarea, select, button {
  display: block;
  width : 300px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 10px;
  border: 1px solid #DADDE0;


  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
     -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
          box-sizing: border-box;
}



label {
    font-weight: bold;
    display: block;
    color: #002c5a;
}
#content-id {
    margin: 0 auto;
    display:  block;

}
